<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .field-error {
            color: red;
        }
    </style>
</head>
<body>
<form action="/member/login" method="post" th:object="${login}">
    <input type="text" th:field="*{memberEmail}" placeholder="이메일"><br>
    <p th:if="${#fields.hasErrors('memberEmail')}" th:errors="*{memberEmail}" th:errorclass="field-error"></p>
    <input type="text" th:field="*{memberPassword}" placeholder="비밀번호"><br>
    <p th:if="${#fields.hasErrors('memberPassword')}" th:errors="*{memberPassword}" th:errorclass="field-error"></p>
</form>
</body>
</html>